@import "tailwindcss";

@theme {
  /* Intuit uslubidagi ranglar */
  --color-brand-blue: #0077C5;
  --color-sidebar-bg: #F8F9FA;
  
  /* Shriftlar yoki boshqa o'zgaruvchilarni ham shu yerga qo'shish mumkin */
}
/* index.css fayliga qo'shing */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}